<ul>
{{# images }}
  <li>

    <h1 data-id="{{ _id }}">{{ filename }}</h1>
      <a class="" href="http://localhost:5000{{ path }}">
        /images/{{ _id }}
      </a>
    

  </li>
{{/ images }}
</ul>
