<h1 class="title" data-id="{{ _id }}" data-attr="title" contenteditable="true">
  {{ title }}
</h1>

<p>
  <a data-uploader="image" href="#">Upload image</a>
</p>

<h2 data-id="{{ _id }}" data-attr="slug" contenteditable="true">
  {{ slug }}
</h2>

<div data-attr="content">
  {{{ content }}}
</div>
